@model List<CourseListViewModel>

<div class="row course-list list">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div data-course-id="@item.Id" data-course-url="#@*/courses/enrolled/1235979*@" , class="course-listing">
                <div class="row">
                    <a href="#" data-role="course-box-link">
                        <div class="col-lg-12">

                            <div class="course-box-image-container">
                                <img class="course-box-image" src="@item.ImagePath" role="presentation">
                            </div>
                            <div class="course-listing-title" role="heading" aria-level="2" title="@item.Name">
                                @item.Name
                            </div>

                            <div class="col-xs-12 hidden course-listing-enrolled" aria-hidden="true">
                                <div class="progressbar ">
                                    <div class="progressbar-fill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-labelledby="percent-complete-1235979"></div>
                                </div>
                                <p class="course-access-limit hidden">Şu tarihe kadar geçerli : <span></span></p>
                            </div>

                            <div class="course-listing-subtitle" title="@item.Description" role="heading" aria-level="3">
                                @item.Description
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course-listing-extra-info">
                    <div>
                        <img class="img-circle" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3" alt="@item.InstructorName">
                        <span class="small course-author-name">
                            @item.InstructorName
                        </span>
                    </div>

                    <div class="hidden" aria-hidden="true">
                        <div class="small course-progress ">
                            <span class="percentage" id="percent-complete-1235979" data-course-id="1235979">
                                %
                            </span>
                            <br>
                            TAMAMLANDI
                        </div>
                    </div>

                    <div>
                        <div class="small course-price" data-include-vat-price="2675534">
                            ÜCRETSİZ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>